{% extends "base.html" %}

<!--Content-->
{% block content %}

<br />
<div class="transbox container">

    <center>
        <h1><b>Login / Signup</b></h1>
    </center>

    <form action="#" method='POST'>
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Username" name="name">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-lg" placeholder="Password" name="password">
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Login/Signup</button>
        </center>
    </form>
</div>

{% endblock content%}